@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

.nav-item {
    border-radius: 50px;
    border: 1px solid rgba(3, 7, 18, 0.10);
    background: rgba(18, 19, 45, 0.03);
    padding: 8px;
}

.grayColor {
    color: rgba(255, 255, 255, 0.80);
}

.grayColor2 {
    color: rgba(18, 19, 45, 0.60);
}
.all-item{
    border: 1px solid white;
    transition: all 0.1s;
}
.all-item:hover {
    border: 1px solid #797DFC;
    background: rgba(121, 125, 252, 0.10);
}

.card {
    border-radius: 24px;
    border: 1px solid rgba(18, 19, 45, 0.15);
    background: #FFF;
}

.card-img {
    border-radius: 20px;
    background: rgba(18, 19, 45, 0.05);
}

footer {
    background: linear-gradient(180deg, rgba(18, 19, 45, 0.05) 0%, rgba(18, 19, 45, 0.00) 100%);
}